[submodule "themes/LoveIt"]
	path = guigoes.com/themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "guigoes.com/themes/LoveIt"]
	path = guigoes.com/themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
